* {
    margin: 0;
    padding: 0;
}

header { 
  background-image: url("img/background.jpg");
  height:228px;
}

#ohmycat{
  background-color: #000066;
  padding-left: 386px;  
  padding-top: 12px;
  color: white;
  height: 47px;
}

#adopter{
    color: white;
    text-align: center;
    padding-top:70px;
    font-size: 2em;
}